@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
#title {
  font-family: "Righteous", cursive;
  font-size: 50px;

  padding-top: 10px;
  padding-left: 60px;
  color: #333;
}

html {
  height: 100%;

  background-color: blanchedalmond;
  background-color: rgb(255, 255, 255);
}

#name {
  font-family: "Cabin", sans-serif;
  font-size: 25px;
}
#username {
  font-family: "Cabin", sans-serif;
  font-size: 25px;
}

.bn33 {
  color: white;

  background-color: rgb(255, 137, 131);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  cursor: pointer;
  float: right; 
  width: 120px;
  height: 50px;
  font-weight: 700;
  margin-right: 50px;
}

#list {
  display: inline-block;
  padding: 30px;
}
