<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instanam</title>
    <link rel="stylesheet" href="/static/displayallusers.css" />
  </head>

  <body>
    <h1 id="title">ALL USERS:</h1>
    <ul>
      {% for id,name,username in users %}
      <li id="list">
        <p id="name">{{name}}</p>
        <p></p>
        <p id="username">Username: {{username}}</p>

        <form method="get" action="/viewprofilepage/{{name}}">
          <button type="submit" class="bn33" name="name" value="{{name}}">
            View Page
          </button>
        </form>
        <!-- <form method="get" action="/profilepage/{{name}}">
                <button  type="submit" class="profilebutton" >Profile</button>
            </form>
             -->
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
