<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/static/homepage.css">
    <title>Document</title>
</head>
<body>
    <h1 id="title">Home Page</h1>
    <p> {{name}} </p>
    <p> {{username}}</p>
    <div class="wrap">
        <form method="POST" action="/displayuserspage"></form>
   <div class="search">
    <form method="POST" action="/displayuserspage">
      <input type="text" class="searchTerm" placeholder="Search For Other Users">
      <button type="submit" class="searchButton">Search</button>
    </form>
   </div>
</div>
<form method="POST" action="/postimagepage">
    <button type="submit" class="searchButton" >Post</button>
  </form>

  <form method="get" action="/profilepageaction">
    <button type="submit" class="searchButton" >Profile</button>
  </form>

  <form method="get" action="/logoutpageaction">
    <button type="submit" class="searchButton" >Log Out</button>
  </form>

</body>
</html>