<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='/templates/javascript/comment.js'></script>
    <link rel = "stylesheet" href="/static/homepage.css">
    
    <title>Instanam</title>
</head>
<body>
   
  







<div class="grid-container">
    <h1 id="title">INSTANAM</h1> 

    
    <form method="POST" action="/displayuserspageaction" class="searchbar">
      <div id="toprow">
      <input type="text" class="searchTerm"  name = "search" placeholder="Search For Other People (Name & Case Sensitive)">
      <button type="submit" class="searchButton" id="button">Search</button>
      </div>
    </form>

    
  
</div>
<form method="get" action="/logoutpageaction">
  <button type="submit" class="bn33" >Log Out</button>
</form>
    <p id="namelol"> Logged In As: {{name}} </p>
    
    <p id="usernamelol">Username: {{username}}</p>
    </form> 
   </div>
</div>

<form method="POST" action="/postimagepage">
    <button type="submit" class="postbutton" >Post</button>
  </form>

  <form method="get" action="/profilepage/{{name}}">
    <button  type="submit" class="profilebutton" >Profile</button>
</form>

  <form method="get" action="/displayallusers">
    <button type="submit" class="allusersbutton" >Users</button>
  </form>


  {% for image_id,name,img_url,description,like_counter in posts %}
  <div id="complete">
 

    <div class="container">
        <h1 id="name">{{name}}</h1>
        <img src={{img_url}}>
        <p1 id ="description">{{description}}</p1>
        <form method="POST" action="/likebuttonaction">
          
          <button type="hidden" class = 'like' value = {{image_id}} name = "image_id">Like</button>
        </form>
        
        <!-- <form  action="/commentform"><button>Comment</button></form> -->
       <p1 id="like">{{like_counter}} Likes</p1> 
         <!-- <button data-modal-target="#modal">Comment</button></form> -->
    </div>
  </div>
   
  {% endfor %}


</body>
</html>