<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/loginpage.css">
</head>
<body>

 <h1 id="title">InstaNam</h1>

 <form id="login-form" method="POST" action="/homepageaction">
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <input type="submit" value="Login" id="login-form-submit">
  </form>

  <button><a href="/signuppage">Sign Up!</a></button>

 <!-- <form method="POST" action="/add_menu_item_action">
    <label>Email <input type ="text" name="email"></label>
    <label>Password <input type ="password" name="password"></label>
    <input type= "submit"> -->
<!-- </form> -->





</body>
</html>