<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile Page</h1>
    {{name}}
    {{username}}
    <form method="get" action="/followingpageaction">
        <button type="submit" class="searchButton" >Following</button>
      </form>
    
      <form method="get" action="/followerspageaction">
        <button type="submit" class="searchButton" >Followers</button>
      </form>
    
    

</body>
</html>