<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instanam</title>
    <link rel="stylesheet" href="/static/signuppage.css" />
  </head>
  <body>
    <h1 id="title">Sign Up</h1>
    <form id="login-form" method="POST" action="/signuppageaction">
      <input
        type="text"
        name="name"
        id="name-field"
        class="login-form-field"
        placeholder="Name"
      />
      <input
        type="text"
        name="username"
        id="username-field"
        class="login-form-field"
        placeholder="Username"
      />
      <input
        type="password"
        name="password"
        id="password-field"
        class="login-form-field"
        placeholder="Password"
      />
      <input type="submit" value="Sign Up" id="login-form-submit" />
    </form>
  </body>
</html>
