<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/viewprofilepage.css" />
    <title>Instanam</title>
  </head>
  <body>
    <h1 id="namelol">{{name}}</h1>

    {% for image_id,name,img_url,description,like_counter in posts %}
    <div id="complete">
      <div class="container">
        <h1 id="name">{{name}}</h1>
        <img src="{{img_url}}" />
        <p1 id="description">{{description}}</p1>
        <form method="POST" action="/likebuttonaction">
          <button
            type="hidden"
            class="like"
            value="{{image_id}}"
            name="image_id"
          >
            Like
          </button>
        </form>

        <!-- <form  action="/commentform"><button>Comment</button></form> -->
        <p1 id="like">{{like_counter}} Likes</p1>
        <!-- <button data-modal-target="#modal">Comment</button></form> -->
      </div>
    </div>
    {% endfor %}
  </body>
</html>
